
<div class="jumbotron container" id="profile-jumbo">
	<div class="row">
  		<div class="col-xs-6">
  			<img src="http://media.salon.com/2013/12/wine_clash.jpg" class="img-circle" alt="Cinque Terre" width="204" height="186">
  		</div>
  		<div class="col-xs-6">
  			<h4><%= @current_user.first_name %></h4>
			<h4>Last Name</h4>
			<h4>Mobile Number</h4>
			<h4>Email Address</h4>
  		</div>
	</div>
	
</div>

<div>
<h4>Contact Me Via</h4>
<p>Email</p>
<p>Mobile SMS</p>
</div>

<div>
<h4>Trip Preferences</h4>
</div>

<div>
	<h4>Payement Information</h4>
</div>

<div>
	<h4>Change Password</h4>
</div>

<div>
	<h4>Logout</h4>
</div>