<body id="image">

<img id="logo" class="animated rollIn" href="/" src="https://farm1.staticflickr.com/750/22536085337_33dcc77bc0_m.jpg">
<div class="container-fluid col-sm-6 col-sm-offset-3 well animated slideInDown" id="bg-messasge">
	<p id="splash_intro">Personalized wine country experiences without the hassle.</p>
	<%= button_to "Try it Free!", users_path, method: :post, :class => "btn btn-success", id: "try" %>
</div>
​
</body>
​