/*// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
html, body {
	border: 0;
	margin: 0;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}
.navbar{
	background-color: #e6e6e6;
	margin-bottom: 5px;
	border: none;
}
.contact{
	font-size: 11px;
}
.btn{
	background-color: #f41010;
	opacity: .8;
	min-width: 330px;
	margin: auto;
}
.img-responsive{
	width: 100%;
	height: 200px;
}

.thumb {
	margin-left: 20px;
	width: 200px;
}

.thumbnail {
	padding-left: 0;
	width: 200px;
}

#brand{
	margin-bottom: 0px;
	margin-left: 50px;
	color: #2780e3;
	font-size: 40px;
	font-weight: bold;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { 

	.thumb {
	margin-left: 20px;
	width: 100px;
}

.thumbnail {
	padding-left: 0;
	width: 100px;
}




}
