/*// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

html, body {
	border: 0;
	margin: 0;
}

h4, h5 {
	font-weight: bold;
	text-align: center;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.border {
	border: 1px solid gray; 
}

.btn{
	background-color: #f41010;
	opacity: .8;
	min-width: 330px;
	margin: auto;
}

.container {
	margin: 0 auto;
	width: 100%;
}

.navbar {
	background-color: #e6e6e6;
  margin: 0;
  border: 0;
}

.contact {
	font-size: 11px;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, 
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	padding-left: 0;
  padding-right: 0;
	width: 20em;
}

.thumbnail {
	border: 0;
}

#brand{
	display: inline;
	margin-top: -.75em;
	margin-left: 50px;
	color: #2780e3;
	font-size: 40px;
	font-weight: bold;
}

#new_trip {
  margin: 0 auto;
  text-align: center;
}

#trip_available_now {
	border-radius: 50px;
}

@media screen and (max-width: 420px) {
	.img-responsive, .thumbnail>img, .thumbnail a>img, 
	.carousel-inner>.item>img, .carousel-inner>.item>a>img {
		width: 12em;
	}
}
