/*// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/


.start_date {
	display: inline;
  margin: 0 auto;
  margin-top: 1.5em;
}

.departure_date {
	display: inline;
  margin: 0 auto;
}

.priceRange {
	width: 1em;
}

.price-container {
	border: 1px solid silver;
	border-radius: 5px;
  width: 40%;
  margin: 0 auto;
}

.select-date-row {
	margin: 0 auto;
	width: 35%;
}

#new_trip > label:nth-child(15), #new_trip > label:nth-child(17) ,
#new_trip > label:nth-child(19), #new_trip > label:nth-child(21) {
  left: -0.3em; 
  position: relative;
}

#map{
	height: 200px;
	width: 275px;
	margin: 0 auto;
	top: 1em;
}

#new_trip {
  margin: 0 auto;
  text-align: center;
}

#trip_available_now {
	border-radius: 50px;
}

#trip_arrival_date, #trip_departure_date {
}

#origin-input {
	border: 2px solid silver;
	border-radius: 5px;
  left: 3.5em !important;
  width: 70%;
  height: 3em;
}

#destination-input {
	border: 2px solid silver;
	border-radius: 5px;
	left: 3.5em!important;
  top: 4em!important;
  width: 70%;
  height: 3em; 
}

#select-dates {
	font-size: 1em;
}

@media screen and (max-width: 420px) {

	.select-date-row {
		width: 100%;
	}
	#trip_arrival_date, #trip_departure_date {
		width: 8em;
	}

}
