// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label:nth-child(2), label:nth-child(4), label:nth-child(6), label:nth-child(8) {
	background-color: green;
	border: 2px solid black;
}

.start_date {
	display: inline;
  margin: 0 auto;
  margin-top: 1.5em;
}

.departure_date {
	display: inline;
  margin: 0 auto;
}

.priceRange {
	border: 1px solid black;
	width: 3em;
}

#map{
	height: 300px;
	width: 300px;
	margin: 0 auto;
}

#new_trip {
  margin: 0 auto;
  text-align: center;
}

#trip_available_now {
	border-radius: 50px;
}

#trip_arrival_date, #trip_departure_date {
	width: 30em;
}

#origin-input {
  position: absolute;
  top: 4em;
  width: 50%;
  height: 3em;
}

#destination-input,  {
  position: absolute;
  top: 4em;
  width: 50%;
  height: 3em;

}

@media screen and (max-width: 420px) {
	#trip_arrival_date, #trip_departure_date {
	width: 9em;
	}

}
