// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label:nth-child(2), label:nth-child(4), label:nth-child(6), label:nth-child(8) {
  border: 1px solid silver;
  color: silver;
  cursor: pointer;
  width: 24.99%;
  float: left;
  height: 3em;
  margin: 0;
  padding-top: 10px;
}


label:nth-child(2):hover, label:nth-child(4):hover, label:nth-child(6):hover, label:nth-child(8):hover { /* (RADIO CHECKED) IMAGE STYLES */
  background-color: rgba(0,255,0,.3);
}

#new_trip > div:nth-child(8) > p > label {
	font-size: 1em;
	text-align: none;
}
.start_date {
	display: inline;
  margin: 0 auto;
  margin-top: 1.5em;
}

.departure_date {
	display: inline;
  margin: 0 auto;
}

.priceRange {
	border: 1px solid black;
	width: 3em;
}

.price-container {
	border: 1px solid silver;
	border-radius: 5px;
  width: 40%;
  margin: 0 auto;
}

#map{
	height: 200px;
	width: 275px;
	margin: 0 auto;
	top: 1em;
}

#new_trip {
  margin: 0 auto;
  text-align: center;
}

#trip_available_now {
	border-radius: 50px;
}

#trip_arrival_date, #trip_departure_date {
	width: 30em;
}

#trip_price_range {
  position: absolute; /* Remove input from document flow */	
}

#trip_price_range.one[type=checkbox]:checked + label:nth-child(2) {
  border: 2px solid green;
}

#trip_price_range.two[type=checkbox]:checked + label:nth-child(4) {
  border: 2px solid red;
}

#trip_price_range.three[type=checkbox]:checked + label:nth-child(6) {
  border: 2px solid purple;
}

#trip_price_range.four [type=checkbox]:checked + label:nth-child(8) {
  border: 2px solid orange;
}

#origin-input {
	border: 2px solid silver;
	border-radius: 5px;
  left: 3.5em !important;
  width: 70%;
  height: 3em;
}

#destination-input {
	border: 2px solid silver;
	border-radius: 5px;
	left: 3.5em!important;
  top: 4em!important;
  width: 70%;
  height: 3em; 
}

#select-dates {
	font-size: 1em;
}

@media screen and (max-width: 420px) {
	#trip_arrival_date, #trip_departure_date {
	width: 8em;
	}

}
