// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-fluid {
	display: flex;
  margin-bottom: 1.25em;
}

#user_first_name, #user_last_name {
	display: inline;
  width: 50%;
  float: left;
}

#user_last_name {
	bottom: 1.75em;
}