// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row-fluid {
	display: flex;
  margin-bottom: 1.25em;
}

.email {
	float: left;
	width: 50%;
}

.mobile {
	float: right;
	width: 50%;
}

.jumbotron {
  width: 100%;
}

#user_first_name, #user_last_name {
	display: inline;
  width: 50%;
  float: left;
}

#user_last_name {
	bottom: 1.75em;
}

#user_contact_email {
  display: block;
  position: relative;
  left: -3em;
  top: -1.4em;
}

#user_contact_text {
	display: block;
  position: relative;
  left: 4em;
  top: -1.3em;
}

#user-headliner {
  font-size: 26px;
  color: white;
  text-align: center;
  width: 65%;
  margin: 0 auto;
  top: -3em;
  position: relative;
}

@media screen and (max-width: 420px) {
  #user-headliner{
    background-color: rgba(0,0,0,.4);
    font-size: 20px;
    margin: 0 5em;
    top: -5em;
  }
}



