

<body id="image">

<img id="logo" href="/" src="https://farm1.staticflickr.com/750/22536085337_33dcc77bc0_m.jpg">
<div class="well  animated slideInLeft" id="title-success">
	<p id="splash_intro">Success!<br></p>
</div>
<div class="container-fluid col-sm-6 col-sm-offset-3 well animated bounceInUp" id="bg-messasge">
	<p class="success">We received your trip request and we will be in touch shortly with personalized experiences for you! :)</p>
	<%= link_to "Your Profile", profile_path, :class => "btn btn-success", id: "try" %>
</div>
​
</body>
​


